<ion-scroll>
  <div class="row">
    <div class="col calculator-row">
      <ul class="list">
        <li class="item">
          <b>Payment</b><span class="pull-right-item-payment">$310</span>
        </li>
        <li class="item">
          <b>Cash In</b><span class="pull-right-item-cash-remain">$300</span>
        </li>
        <li class="item">
          <b>Remain</b><span class="pull-right-item-cash-remain">$10</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row calculator-row">
    <div class="col calculator-row">
      <button class="button button-outline button-block button-positive">
        UPC/EAN
      </button>
    </div>
    <div class="col calculator-row">
      <button class="button button-block button-positive">
        PRICE
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="row  calculator-row">
        <div class="col calculator-row">
          <button class="button button-block button-positive">
            $300.00
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block button-positive">
            $310.00
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block button-positive">
            $400.00
          </button>
        </div>
      </div>
      <div class="row  calculator-row">
        <div class="col calculator-row">
          <button class="button button-block">
            <b>1</b>
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block">
            <b>2</b>
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block">
            <b>3</b>
          </button>
        </div>
      </div>
      <div class="row  calculator-row">
        <div class="col calculator-row">
          <button class="button button-block">
            <b>4</b>
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block">
            <b>5</b>
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block">
            <b>6</b>
          </button>
        </div>
      </div>
      <div class="row  calculator-row">
        <div class="col calculator-row">
          <button class="button button-block">
            <b>7</b>
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block">
            <b>8</b>
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block">
            <b>9</b>
          </button>
        </div>
      </div>
      <div class="row calculator-row">
        <div class="col calculator-row">
          <button class="button button-block icon ion-arrow-left-a">
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block">
            <b>0</b>
          </button>
        </div>
        <div class="col calculator-row">
          <button class="button button-block"  >
            <b>00</b>
          </button>
        </div>
      </div>
      
      <div class="row calculator-row">
        <div class="col calculator-row">
          <button class="button button-large button-block button-balanced">
            Place Order
            <i class="icon ion-ios7-redo"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-scroll>