      <ion-scroll class="fixed" direction="y" scrollbar-y="false">
        <div class="list">
          <a class="item item-avatar" href="#/app/products">
            <img src="../img/Pen21.png">
            <h2>Parker Pen</h2>$25
          </a>
          <a class="item item-avatar" href="#/app/products">
            <img src="../img/Notebook.jpg">
            <h2>Notebook</h2>$30
          </a>
          <a class="item item-avatar" href="#/app/products">
            <img src="../img/Food21.jpg">
            <h2>Food</h2>$35
          </a>
          <a class="item item-avatar" href="#/app/products">
            <img src="../img/laptop.jpg">
            <h2>Laptop</h2>$150
          </a>
          <a class="item item-avatar" href="#/app/products">
            <img src="../img/jewellery.jpg">
            <h2>Jewellery</h2>$57
          </a>
          <div class="item item-divider">
            <div class="row">
              <div class="col col-33">Subtotal</div>
              <div class="col col-33 col-offset-33">$297</div>
            </div>
          </div>
          <div class="item item-divider">
            <div class="row">
              <div class="col col-33">Tax</div>
              <div class="col col-33 col-offset-33">$13</div>
            </div>
          </div>            
        </div>
        <a id="total-button" class="button button-block button-positive search" href="#/app/payment">
          <h3>TOTAL $310</h3>
        </a>
      </ion-scroll>