.right-cart {
  border-left: solid #808080;
  margin-right: 20px;
}

.left-to-cart {
  border-right: solid #808080;
}

.right-cart-customer {
  border-bottom: solid #808080;
  margin-bottom: 7px;
}

.ion-item {
  margin-left: 10px;
}

#total-button {
  margin-top: 70px;
  margin-left: 0px;
  width: 25em;  height: 4em;
}

a h3 {
  padding: 20px; 
  padding-right: 100px
}

#search {
  width: 625px; 
}

#cart-heading {
  margin: 0px;
  margin-top: 5px;
  margin-left: 150px;
}

.calculator-row { 
  padding-top: 0px;
  padding-bottom: 0px;
}

.pull-right-item-payment {
  padding-left: 79%;
}

.pull-right-item-cash-remain {
  padding-left: 80%;
}

.pull-right-item-cart {
  margin-left: 50%;
}